<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Receitas - Início</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-50">

    <header class="text-center p-4 bg-green-600 mb-6">
        <nav class="text-2xl bg-green-600 text-white p-4 flex gap-6 justify-center">
            <a href="index.html" class="hover:underline">Início</a>
            <a href="salgados.html" class="hover:underline">Salgados</a>
            <a href="doces.html" class="hover:underline">Doces</a>
        </nav>
    </header>

    <main class="flex flex-col items-center justify-center h-[80vh] text-center">
        <h1 class="text-4xl font-bold text-green-700">Bem-vindo ao site de Receitas</h1>
        <p class="mt-4 text-lg text-gray-700">Escolha entre deliciosos doces ou salgados!</p>
    </main>
    
</body>
</html>